@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.model {
  border-color: grey;
  padding: 16px 24px;
}

.car img{
  width: 100%;
  height: 100%;
}


.images {
  margin-top: -1040px;
  width: 150px;
  margin-left: 20px;
  cursor: pointer;
}


.images img {
  width: 200px;
}

.vehicles {
  margin-left: 600px;
  margin-top: -55px;
  cursor: pointer;
  color: azure;
}

.energy {
  margin-left: 715px;
  margin-top: -20px;
  cursor: pointer;
  color: azure;
}

.charging {
  margin-left: 818px;
  margin-top: -19px;
  cursor: pointer;
  color: azure;
}

.discover {
  margin-left: 938px;
  margin-top: -19px;
  cursor: pointer;
  color: azure;
}

.we {
  margin-left: 1140px;
  margin-top: -20px;
  cursor: pointer;
  color: azure;
}

.shop {
  margin-left: 1050px;
  margin-top: -19px;
  cursor: pointer;
  color: azure;
}


.icon {
  margin-left: 1450px;
  margin-top: -25px;
  cursor: pointer;
  font-size: 25px;
  color: white;
}

.icon2 {
  margin-left: 1510px;
  margin-top: -30px;
  cursor: pointer;
  font-size: 25px;
  color: white;
}


.icon3 {
  margin-left: 1570px;
  margin-top: -30px;
  cursor: pointer;
  font-size: 25px;
  color: white;
}


button {
  margin-left: 580px;
  margin-top: 50px;
  padding: 10px 70px;
}

.order {
  margin-left: 270px;
  margin-top: -90px;
}

.apr {
  margin-left: 660px;
  margin-top: 50px;
  color: azure;
  font-size: 50px;
}

.car2 img {
  width: 100%;
}


.ghari  {
  margin-top: -120px;
 margin-right: 500px;


}


.ghari button {
  background-color: #3368ff;
  color: white;
  font-size: 15px;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
  cursor: pointer;
}


.ghari2 {
  margin-top: -90px;
  margin-left: 300px;
}


.ghari2 button {
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.start {
  margin-top: -780px;
  margin-left: 710px;
  font-size: 30px;
  color: white;
  font-weight: 800;
}

.car3 img {
  width: 100%;
  margin-top: 700px;
}


.ghari3 {
  margin-top: 650px;
  margin-left: 10px;
}


.ghari3 button {
  background-color: #3368ff;
  color: white;
  font-size: 15px;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
}

.ghari3 button:hover {
  cursor: pointer;
}

.ghari4 {
  margin-top: -90px;
  margin-left: 300px;
}


.ghari4 button {
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}


.start2 {
  margin-left: 650px;
  font-size: 30px;
  color: white;
  font-weight: 800;
  margin-top: 30px;
}


.start3 {
  margin-left: 745px;
  margin-top: -100px;
  font-size: 50px;
  color: azure;
  font-weight: 600;
}


.start4 {
  margin-top: -880px;
  margin-left: 750px;
  font-size: 50px;
  color: azure;
  font-weight: 600;
}


.start5 {
  margin-top: 30px;
  margin-left: 670px;
  font-size: 30px;
  color: azure;
  font-weight: 600;
}


.start6 {
  margin-top: -110px;
  margin-left: 700px;
  font-size: 40px;
  color: azure;
  font-weight: 600;
}


.car4 img {
  width: 100%;
  margin-top: 20px;
}


.start7 {
  margin-top: -880px;
  margin-left: 750px;
  font-size: 40px;
  color: azure;
  font-weight: 600;
}


.start8 {
  margin-top: 5px;
  margin-left: 700px;
  font-size: 40px;
  color: azure;
  font-weight: 600;
}

.start9 {
  margin-top: 10px;
  margin-left: 690px;
  font-size: 20px;
  color: azure;
  font-weight: 600;
  cursor: pointer;
}

.start10 {
  margin-left: 710px;
  font-size: 20px;
  color: azure;
  font-weight: 600;
  cursor: pointer;
}

.ghari7 {
  margin-top: 600px;
  margin-left: 10px;
}


.ghari7 button {
  background-color: #3368ff;
  color: white;
  font-size: 15px;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
}

.ghari8 {
  margin-top: -90px;
  margin-left: 300px;
}


.ghari8 button {
  font-size: 15px;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid white;
}

.car5 img {
  width: 100%;
  margin-top: 20px;
}

.start11 {
  margin-left: 750px;
  font-size: 50px;
  color: azure;
  font-weight: 600;
  margin-top: -850px;
}

.start12 {
  margin-left: 740px;
  margin-top: 10px;
  font-size: 30px;
  color: azure;
  font-weight: 600;
}


.start13 {
  font-size: 20px;
  color: azure;
  font-weight: 600;
  margin-left: 640px;
  margin-top: 10px;
  cursor: pointer;
}

.ghari9 {
 margin-top: 580px;
}

.ghari9 button {
  background-color: #3368ff;
  color: white;
  font-size: 15px;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
}


.ghari10 {
  margin-top: -90px;
  margin-left: 300px;
 }
 
 .ghari10 button {
   font-size: 15px;
   padding: 10px 100px;
   border-radius: 5px;
   border: 1px solid #fff;
 }

 .car6 img {
  width: 100%;
  margin-top: 20px;
 }


 .start14 {
  margin-top: -880px;
  margin-left: 700px;
  font-size: 50px;
  font-weight: 600;
  color: white;
 }

 .ghari11 {
  margin-top: 710px;
  margin-left: 30px;
 }


 .ghari11 button {
  background-color: black;
  color: #8e8e8e;
  border-top: 3px solid #8e8e8e;
  padding: 10px 100px;
  font-size: 15px;
 }


 .ghari11 button:hover {
    border-radius: 1px solid #fff;
    cursor: pointer;
 }


 .ghari12 {
  margin-top: -93px;
  margin-left: 330px;
 }

 .ghari12 button {
  background-color: black;
  color: #8e8e8e;
  padding: 10px 100px;
  font-size: 15px;
  border-radius: 1px solid #fff;
  cursor: pointer;
 }

 .car7 img {
  width: 100%;
  margin-top: 10px;
 }
 

 .start15 {
  margin-top: -920px;
  margin-left: 700px;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
 }

 .start16 {
  margin-top: -5px;
  margin-left: 640px;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
 }


 .ghari13 {
  margin-top: 710px;
  margin-left: 20px;
 }

 .ghari13 button {
  padding: 10px 100px;
  background-color: #3368ff;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
 }


 .ghari14 {
  margin-top: -100px;
  margin-left: 220px;
  padding: 10px 100px;
  border-radius: 5px;
 }

 .ghari14 button {
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
 }


 .car8 img {
  width: 100%;
  margin-top: 10px;
 }


 .start17 {
  margin-top: -880px;
  margin-left: 750px;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
 }

 .start18 {
  margin-left: 590px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
 }


 .ghari15 {
  margin-top: 660px;
  margin-left: 50px;
 }

 .ghari15 button {
  padding: 10px 100px;
  background-color: #3368ff;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
 }


 .ghari16 {
  margin-top: -90px;
  margin-left: 340px;
 }

 .ghari16 button {
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
 }


 .car9 img {
  width: 100%;
  margin-top: 18px;
 }


 .start19 {
  margin-top: -850px;
  margin-left: 710px;
  font-size: 50px;
  font-weight: 600px;
  color: #fff;
 }


 .ghari17 {
  margin-top: 670px;
  margin-left: 20px;
 }

 .ghari17 button {
  padding: 10px 100px;
  background-color: #3368ff;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
 }


 .ghari18 {
  margin-top: -90px;
  margin-left: 310px;
 }


 .ghari18 button {
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 14px;
 }

 .car10 img {
  margin-top: 20px;
  width: 100%;
 }


 .ghari19 {
  margin-top: -115px;
  margin-left: 130px;
 }


 .ghari19 button {
  padding: 10px 100px;
  background-color: #3368ff;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid #3368ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
 }

 video {
  margin-top: 21px;
  width: 100%;
 }